@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
}


footer {  
background-color: rgb(17, 17, 17);
display: flex;
flex-direction: column;
padding-top: 10px;
}

#logo {
    width: 28%;
}

.divimg {
    text-align: center;
}

.contenedor {
    display: flex;
  flex-direction: column;
  justify-content:space-between;
  flex-wrap: wrap;
  align-content: center;
  padding: 0
}

.nosotros {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.redes-sociales{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}
.redes-sociales :hover {
    color: white;
}


.titulos-footer {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 0.6rem;
  margin: 1rem;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(143, 144, 145);
}

.sin-sub {
    text-decoration: none;
}
.sin-li {
    list-style-type: none;
}

.informacion-contacto li{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    color: #858484;
}

.copy{
    text-align: center;
    font-size: .9rem;
    line-height: 1.4rem;
    background-color: #303030;
    color: #858484;
    padding: .5rem;
}

.fa-solid{
    font-size: 1.2rem;
    max-height: 1rem;
    max-width: 1rem;
}

.fa-brands{
    font-size: 1.3rem;
    color: #858484;
}


.navegacion li a{
    display: inline-block;
    margin-bottom: .8rem;
    color: #858484;
}

.navegacion li a:hover{
    color: white;
}



@media (min-width: 803px){
    .contenedor{
        flex-direction: row-reverse;
    }
    .nosotros{
        width: 40%;
        justify-content:center;
    } 

}